@charset "UTF-8";

/*=======================================
メディアクエリ
=========================================*/
$breakpoints: (
  //キー　　値
  'sp': 'screen and (max-width: 767px)',
  //767px以下（スマホ）用の表示
  'pc': 'screen and (min-width: 768px)' //768px以上（タブレット・PC）用の表示
  ) !default;

//メディアクエリ用のmixinを定義。デフォ値はmd
@mixin mq($breakpoint: sp) {

  //map-get(マップ型変数, キー)で値を取得
  @media #{map-get($breakpoints, $breakpoint)} {
    //この中をカスタムできる
    @content;
  }
}

/*=======================================
変数
=========================================*/
$noto: 'Noto Sans JP',
  sans-serif;
$mont: 'Montserrat',
  sans-serif;
$primary-color: #D136D1;
$button-shadow: #DD118E;
$text-color: #fff;

/*=======================================
共通
=========================================*/
body {
  font-family: $noto;
  font-size: 16px;
  font-feature-settings: "palt";
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1366px;
  margin: 0 auto;
  padding: 0 128px;

  @include mq(sp) {
    padding: 0 6%;
  }
}

.clear {
  clear: both;
}

.position-relative {
  position: relative;
}

/*=======================================
header
=========================================*/
header {
  width: 100%;
  font-family: $mont;
  font-weight: bold;
  padding: 0 2.2%;
}

.header-container {
  max-width: 1366px;
  margin: 0 auto;

  @include mq(sp) {
    padding: 0 4%;
  }
}

.logo {
  font-size: 28px;
  letter-spacing: 0.05em;
  color: $primary-color;
  float: left;
  padding-top: 28px;

  @include mq(sp) {
    font-size: 24px;
  }
}

.header-nav {
  float: right;
  padding-top: 28px;
  position: relative;
  z-index: 2;

  @include mq(sp) {
    display: none;
  }
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include mq(sp) {
    display: block;
  }
}

.nav-item {
  margin-right: 30px;

  &:last-child {
    margin-right: 0;
  }

  a {
    color: $text-color;
    letter-spacing: 0.05em;
    line-height: 1.1;
    display: block;
  }
}

/*=======================================
drawer
=========================================*/
.drawer-menu {
  background-color: transparent;
  width: 80px;
  height: 80px;
  float: right;
  border-radius: 4px;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 4;
  display: none;

  @include mq(sp) {
    display: block;
  }

  &.is-active {

    html,body{
      overflow: hidden
    }

    .drawer-bar1 {
      top: 40px;      
      transform: rotate(45deg);
    }

    .drawer-bar2 {
      display: none;
    }

    .drawer-bar3 {
      top: 40px;
      transform: rotate(-45deg);
    }
  }
}

.drawer-bar1 {
  width: 32px;
  height: 2px;
  background-color: $text-color;
  transition: all 0.3s;
  position: absolute;
  top: 30px;
  left: 24px;
}

.drawer-bar2 {
  width: 32px;
  height: 2px;
  background-color: $text-color;
  transition: all 0.3s;
  position: absolute;
  top: 50%;
  left: 24px;
  transform: translateY(-50%);
}

.drawer-bar3 {
  width: 32px;
  height: 2px;
  background-color: $text-color;
  transition: all 0.3s;
  position: absolute;
  top: 48px;
  left: 24px;
}

.drawer {
  background-color: rgb(20, 20, 20, 0.95);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  padding: 100px 0;
  transform: translateX(105%);
  transition: 0.5s;

  &.is-show {
    transform: none;
  }
}

.drawer-nav-ul {
  padding: 0 10%;
}

.drawer-nav-item {
  text-align: center;
  margin-bottom: 60px;
  border-bottom: 1px solid $primary-color;
  padding-bottom: 20px;

  a {
    color: $text-color;
    text-align: center;
    font-size: 32px;
    font-family: $mont;
    font-weight: bold;
    position: relative;

    &::after {
      content: "";
        width: 0;
        height: 0;
        border-style: solid;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        border-left: 10px solid $text-color;
        border-right: 0;
        position: absolute;
        top: 50%;
        left: calc(100% + 50px);
        transform: translateY(-50%);
      }
  }
}

/*=======================================
main-visual
=========================================*/
.main-visual {
  padding-top: 90px;
  padding-bottom: 34px;
  background: linear-gradient(135deg, #0E002E 0%, #c21780 100%);

  @include mq(sp) {
    padding-bottom: 160px;
  }
}

.main-visual-title {
  font-size: 24px;
  font-weight: bold;
  font-family: $mont;
  color: $primary-color;
  letter-spacing: 0.05em;
  line-height: 1.1;
  margin-top: 50px;
  position: relative;
  z-index: 2;

  @include mq(sp) {
    font-size: 18px;
    margin-top: 90px;
    text-align: center;
  }
}

.main-visual-subtitle {
  font-size: 100px;
  font-weight: bold;
  font-family: $mont;
  color: $text-color;
  letter-spacing: 0.016em;
  line-height: 1.06;
  position: relative;
  z-index: 2;

  @include mq(sp) {
    font-size: 40px;
    text-align: center;
    margin-top: 20px;
  }
}

.main-visual-date {
  font-size: 36px;
  font-weight: bold;
  font-family: $mont;
  color: $text-color;
  line-height: 1;
  letter-spacing: 0.07em;
  position: relative;
  z-index: 2;

  @include mq(sp) {
    text-align: center;
    font-size: 26px;
    margin-top: 10px;
  }
}

.main-visual-button {
  font-size: 18px;
  letter-spacing: 0.05em;
  line-height: 1.2;
  text-align: center;
  float: left;
  margin-top: 25px;

  @include mq(sp) {
    float: none;
    margin-top: 100px;
  }

  a {
    background: linear-gradient(135deg, #c41a7f 0%, #664bbf 100%);
    border-radius: 50px;
    padding: 25px 114px 25px 103px;
    color: $text-color;
    display: block;
    box-shadow: 0 10px 0 #dd118e;

    @include mq(sp) {
      padding: 20px 80px;
      display: inline-block;
      border: 1px solid #dd118e;
      box-shadow: none;
    }

    &:hover {
      transform: translateY(4px);
      box-shadow: 0 6px 0 #dd118e;
    }
  }
}

.main-visual-theme {
  position: absolute;
  top: 345px;
  left: 32.3%;
  z-index: 2;

  @include mq(sp) {
    width: 200px;
    left: 25%;
  }
}

.designer-img {
  display: block;
  position: absolute;
  top: -60px;
  right: 4.7%;

  @include mq(sp) {
    display: none;
  }
}

.designer {
  float: right;
  position: relative;
  z-index: 2;
  margin-right: 50px;

  @include mq(sp) {
    display: none;
  }
}

.designer-name {
  font-size: 21px;
  color: $text-color;
  margin-top: 87px;
  font-weight: medium;

  span {
    font-size: 16px;
  }
}

.designer-job {
  font-size: 14px;
  font-weight: bold;
  font-family: $mont;
  color: $text-color;
  line-height: 1;
  letter-spacing: 0.05em;
}

/*=======================================
about
=========================================*/
.about {
  padding: 110px 0;
  background-color: #141414;

  @include mq(sp) {
    padding-bottom: 160px;
  }
}

.section-title {
  font-size: 60px;
  font-weight: bold;
  letter-spacing: 0.05em;
  line-height: 1.5;
  color: $primary-color;
  text-align: center;

  @include mq(sp) {
    font-size: 42px;
  }

  span {
    font-size: 22px;
    color: $text-color;
    display: block;
    line-height: 1;
    font-weight: 300;
    letter-spacing: 0;

    @include mq(sp) {
      font-size: 18px;
    }
  }
}

.about-content {
  margin-top: 57px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include mq(sp) {
    flex-direction: column;
    margin-top: 110px;
  }
}

.about-img {
  display: block;

  @include mq(sp) {
    order: 1;
  }
}

.about-right {
  width: 595px;
  margin-left: 60px;

  @include mq(sp) {
    width: 100%;
    margin-left: 0;
  }
}

.about-theme {
  font-size: 24px;
  font-weight: 300;
  font-family: $mont;
  color: $text-color;
  line-height: 2.4;

  @include mq(sp) {
    text-align: center;
    margin-top: 40px;
  }
}

.about-theme-text {
  font-size: 48px;
  line-height: 1.3;
  letter-spacing: 0.01em;
  color: $primary-color;

  @include mq(sp) {
    text-align: center;
  }
}

.about-text {
  margin-top: 43px;
  font-size: 18px;
  letter-spacing: 0.05em;
  line-height: 1.8;
  color: $text-color;
  font-weight: 300;

  @include mq(sp) {
    font-size: 20px;
    text-align: center;
  }
}

.about-detail {
  margin-top: 23px;

  @include mq(sp) {
    margin-top: 100px;
  }
}

.about-detail-item {
  display: flex;
  align-items: center;
  font-size: 16px;
  letter-spacing: 0.05em;
  line-height: 1.75;
  color: $text-color;

  @include mq(sp) {
    text-align: center;
    padding-bottom: 6px;
    margin-bottom: 12px;
    border-bottom: 1px solid $primary-color;
  }
}

.about-dt {
  width: 70px;

  @include mq(sp) {
    font-size: 24px;
    margin-right: 6px;
  }
}

.about-detail-item-br {
  display: none;

  @include mq(sp) {
    display: block;
  }
}

.about-dd {
  width: calc(100% - 70pX);
  font-weight: 300;

  @include mq(sp) {
    font-size: 20px;
  }
}

.about-button {
  font-size: 18px;
  letter-spacing: 0.05em;
  line-height: 1.2;
  text-align: center;
  margin-top: 24px;
  display: inline-block;

  @include mq(sp) {
    display: block;
    margin-top: 110px;
  }

  a {
    background: linear-gradient(135deg, #c41a7f 0%, #664bbf 100%);
    border-radius: 50px;
    padding: 20px 78px 19px 69px;
    color: $text-color;
    display: inline-block;
    box-shadow: 0 10px 0 #dd118e;

    @include mq(sp) {
      padding: 20px 80px;
      border: 1px solid #dd118e;
      box-shadow: none;
    }

    &:hover {
      transform: translateY(4px);
      box-shadow: 0 6px 0 #dd118e;
    }
  }
}

/*=======================================
speaker
=========================================*/
.speaker {
  background: linear-gradient(135deg, #0E002E 0%, #c21780 100%);
  color: $text-color;
  padding: 110px 0;

  @include mq(sp) {
    padding-bottom: 160px;
  }
}

.speaker-item {
  display: flex;
  gap: 60px;
  margin-top: 60px;

  @include mq(sp) {
    flex-direction: column;
    margin-top: 100px;
  }

  &:first-of-type {
    margin-top: 57px;

    @include mq(sp) {
      margin-top: 110px;
    }
  }

  &:nth-child(2n+1) {
    flex-direction: row-reverse;

    @include mq(sp) {
      flex-direction: column;
    }
  }
}

.speaker-item-left {
  width: 605px;

  @include mq(sp) {
    width: 100%;
  }
}

.speaker-item-right {
  @include mq(sp) {
    display: none;
  }

  img {
    width: 100%;
  }
}

.speaker-name {
  font-size: 42px;
  font-weight: bold;
  letter-spacing: 0.05em;
  color: $primary-color;
  font-family: $mont;

  @include mq(sp) {
    flex-direction: column;
    font-size: 28px;
    text-align: center;
  }

  span {
    font-size: 18px;
    display: block;
    font-weight: 300;
    font-family: $noto;
    color: $text-color;

    @include mq(sp) {
      font-size: 16px;
      text-align: center;
    }
  }

  @include mq(sp) {
    flex-direction: column;
    font-size: 28px;
    text-align: center;
  }
}

.speaker-img-sp {
  display: none;

  @include mq(sp) {
    display: block;
    margin-top: 40px;
  }
}

.speaker-detail {
  line-height: 1.8;
  letter-spacing: 0.05em;
  margin-top: 41px;
  font-weight: 300;

  @include mq(sp) {
    font-size: 20px;
  }
}

/*=======================================
about
=========================================*/
.session {
  background-color: #141414;
  padding: 110px 0;

  @include mq(sp) {
    padding-bottom: 160px;
  }
}

.session-item {
  margin-top: 42px;
  display: flex;
  gap: 11%;
  padding-bottom: 42px;
  border-bottom: 1px solid $primary-color;

  @include mq(sp) {
    display: block;
    padding-bottom: 38px;
    margin-top: 38px;
  }

  &:first-of-type {
    margin-top: 101px;

    @include mq(sp) {
      margin-top: 110px;
    }
  }
}

.session-item-left {
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 0.05em;
  color: $text-color;
  white-space: nowrap
}


.session-item-title {
  font-size: 22px;
  font-weight: 400;
  letter-spacing: 0.05em;
  color: $primary-color;

  @include mq(sp) {
    margin-top: 8px;
  }
}

.session-item-text {
  letter-spacing: 0.05em;
  line-height: 1.5;
  color: $text-color;
  font-weight: 300;

  @include mq(sp) {
    font-size: 18px;
    margin-top: 10px;
  }
}

/*=======================================
register
=========================================*/
.register {
  padding: 90px 0 110px 0;
  background: url(img/bg.png) no-repeat center center / cover;

  @include mq(sp) {
    padding-bottom: 90px;
  }
}

.register-content {
  border: 5px solid $primary-color;
  border-radius: 20px;
  background-color: #1A1A1A;
  margin-top: 57px;
  padding: 87px 0 90px 0;

  @include mq(sp) {
    margin-top: 90px;
    padding: 52px 4% 82px 4%;
  }
}

.form {
  margin-left: 88px;

  @include mq(sp) {
    margin-left: 0;
  }
}

.form-dt-radio {
  line-height: 2;
  letter-spacing: 0.05em;
  color: $text-color;
  font-weight: 400;
  display: inline-block;
  position: relative;

  &::after {
    content: "*必須";
    font-size: 12px;
    color: $primary-color;
    position: absolute;
    top: 50%;
    left: calc(100% + 16px);
    transform: translateY(-50%);
    white-space: nowrap;

    @include mq(sp) {
      font-size: 14px;
    }
  }
}

.form-radio-job {
  margin-right: 30px;
  letter-spacing: 0.05em;
  color: $text-color;
  font-weight: 400;

  @include mq(sp) {
    display: block;
    margin-top: 6px;
  }

  &:last-child {
    margin-right: 0;
  }

  span {
    @include mq(sp) {
      font-size: 14px;
    }
  }
}

.form-row {
  margin-bottom: 32px;

  @include mq(sp) {
    margin-bottom: 40px;
  }

  &:first-of-type {
    margin-bottom: 33px;

    @include mq(sp) {
      margin-bottom: 40px;
    }
  }

  &:nth-of-type(6) {
    margin-bottom: 40px;

    @include mq(sp) {
      margin-bottom: 82px;
    }
  }
}

.form-dt {
  line-height: 2;
  letter-spacing: 0.05em;
  color: $text-color;
  font-weight: 400;
  display: inline-block;
  margin-bottom: 11px;
  position: relative;

  &::after {
    content: "*必須";
    font-size: 12px;
    color: $primary-color;
    position: absolute;
    top: 50%;
    left: calc(100% + 16px);
    transform: translateY(-50%);
    white-space: nowrap;

    @include mq(sp) {
      font-size: 14px;
    }
  }
}

.form-dt-email {
  line-height: 2;
  letter-spacing: 0.05em;
  color: $text-color;
  font-weight: 400;
  display: inline-block;
  margin-bottom: 11px;
  position: relative;

  &::after {
    content: "*必須";
    font-size: 12px;
    color: $primary-color;
    position: absolute;
    top: 50%;
    left: calc(100% + 41px);
    transform: translateY(-50%);
    white-space: nowrap;

    @include mq(sp) {
      font-size: 14px;
      left: calc(100% + 16px);
    }
  }
}

.form-dt-tel {
  line-height: 2;
  letter-spacing: 0.05em;
  color: $text-color;
  font-weight: 400;
  display: inline-block;
  margin-bottom: 11px;

  span {
    font-size: 12px;
    margin-left: 10px;
  }
}

.form-dt-message {
  line-height: 2;
  letter-spacing: 0.05em;
  color: $text-color;
  font-weight: 400;
  display: inline-block;
  margin-bottom: 11px;
  position: relative;

  &::after {
    content: "*必須";
    font-size: 12px;
    color: $primary-color;
    position: absolute;
    top: 50%;
    left: calc(100% + 60px);
    transform: translateY(-50%);
    white-space: nowrap;

    @include mq(sp) {
      font-size: 14px;
      left: calc(100% + 16px);
    }
  }
}

.select-br {
  display: none;

  @include mq(sp) {
    display: block;
  }
}

.form-dt-select {
  line-height: 2;
  letter-spacing: 0.05em;
  color: $text-color;
  font-weight: 400;
  display: inline-block;
  margin-bottom: 11px;
  position: relative;

  @include mq(sp) {
    line-height: 1.2;
    margin-bottom: 13px;
  }

  &::after {
    content: "*必須";
    font-size: 12px;
    color: $primary-color;
    position: absolute;
    top: 50%;
    left: calc(100% + 16px);
    transform: translateY(-50%);
    white-space: nowrap;

    @include mq(sp) {
      font-size: 14px;
      bottom: 1px;
      transform: none;
      top: auto;
    }
  }
}

[type="text"],
[type="email"],
[type="tel"],
select {
  width: 300px;
  background-color: $text-color;
  border-radius: 6px;
  padding: 9px 0 10px 24px;

  @include mq(sp) {
    width: 100%;
  }
}

input[type="radio"] {
  margin-right: 6px;
}

textarea {
  background-color: $text-color;
  border-radius: 6px;
  resize: none;
  padding: 13px 27px;
  width: 600px;
  height: 255px;

  @include mq(sp) {
    width: 100%;
  }
}

.select-top {
  color: #333;
  font-weight: 300;
}

.form-button {
  @include mq(sp) {
    text-align: center;
  }
}

[type="submit"] {
  background: linear-gradient(135deg, #c41a7f 0%, #664bbf 100%);
  border-radius: 50px;
  padding: 23px 116px 23px 109px;
  color: $text-color;
  display: inline-block;
  box-shadow: 0 10px 0 #dd118e;

  @include mq(sp) {
    padding: 20px 80px;
    border: 1px solid #dd118e;
    box-shadow: none;
  }

  &:hover {
    transform: translateY(4px);
    box-shadow: 0 6px 0 #dd118e;
  }
}

/*=======================================
footer
=========================================*/
footer {
  padding: 70px 0;
  background-color: #141414;

  @include mq(sp) {
    padding: 30px 0;
  }
}

.copyright {
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: 0.08em;
  color: $text-color;
  font-weight: bold;
  text-align: center;

  @include mq(sp) {
    font-size: 12px;
  }
}

.to-top {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: linear-gradient(135deg, #c41a7f 0%, #664bbf 100%);
  position: fixed;
  bottom: 45px;
  right: 40px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;

  @include mq(sp) {
    display: none;
  }

  a {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &.is-show {
    opacity: 1;
    visibility: visible;
  }
}